# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Composer
/vendor/
composer.lock

# Environment files
.env
.env.*

# Logs and cache
*.log
*.cache
.phpunit.result.cache

# Coverage
coverage/

# Build artifacts
/dist/
/build/
/out/
